# Python artifacts
__pycache__
*.egg-info
.cache
.mypy_cache
.python-version

# PyCharm specific
.idea/
.run/

# logs
*.log

# local settings
.env
.test.env
/data/*
conf/mypy.ini

# coverage
coverage
coverage.xml
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

data/

# Slate build
slate/build